<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SimpleMVCApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="text-center">
        <h1>Home</h1>
        <p class="lead">
        Bacon ipsum dolor amet hamburger elit chuck, swine salami flank picanha pariatur sausage rump pork chop ham.
         Frankfurter ex commodo do. Sint dolore ball tip kevin adipisicing labore kielbasa, corned beef shank voluptate 
         boudin turducken et leberkas eiusmod. Drumstick do exercitation frankfurter.
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>